@charset "UTF-8";


@font-face {
    font-family: 'Fonte1' ;
    src: url(../../fontes/KungfooFighterDEMO\ -\ titulo.otf) format(OpenType);
}
@font-face {
    font-family: 'Fonte2' ;
    src: url(../../fontes/seibi-shiba/OTF/Seibi\ Shiba\ Bold.otf) format(OpenType);
}
@font-face {
    font-family: 'Fonte3' ;
    src: url(../../fontes/seibi-shirogane/OTF/Seibi\ Shirogane.otf) format(OpenType);
}
@font-face {
    font-family: 'Fonte4' ;
    src: url(../../fontes/Seibi_Socho/Seibi_Socho/OTF/Seibi\ Socho.otf) format(OpenType);
}


* {
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


body {
    width: 100vw ;
    height: 100vh ;
    background-color: gray ;
}

    header {
        width: 100vw ;
        background-color: aqua ;
    }
        section#Icone_Menu {
            display: flex ;
            flex-flow: row nowrap ;
            justify-content: flex-end ;
            align-items: flex-start ;
            margin: ;
        }
            img#Icone_Menu_Clicavel {
                width: 80px ;
                margin-bottom: 5px ;
            }
        section#Menu {
            display: flex ;
            flex-flow: row nowrap ;
            justify-content: center ;

            background-color: red ;
        }
            nav {
                padding: 2px 10px 10px 10px ;
                margin: 2px 10px 10px 10px ;
                text-align: center ;
            }
                a {
                    display: block ;
                    width: 90vw ;
                    margin: 5px ;
                    padding: 15px ;
                    text-decoration: none ;
                    color: white ;
                    background-color: gray ;
                    border: 2px solid black ;
                    border-radius: 5px ;
                }

/*
header {
    display: flex ; 
    flex-flow: row nowrap ;
    justify-content: flex-end ;
    align-items: flex-start;
    height: 500px;
    margin: 0px ;
    padding: 15px ;
    
}
    img {
        width: 55px;
    }

    section#Menu {
        display: flex;
        flex-flow: row nowrap;

        height: 245px;
        padding: 12px ;
        margin: 10px 10px 10px 10px ;
        background-color: black;
        border-radius: 3px ;
    }
        nav   {
            display: block;
            width: 250px ;
            text-align: center ;
            background-color: green;

        } 
            a.menu-link {
                display: block;
                width: 250px ;
                padding: 25px ;
                margin: 0px 0px ;
                font-size: 17px ;
                text-decoration: none ;
                background-color: aqua;
                border: 1px solid black;
            }

*/