@charset "utf-8";

@font-face {
    font-family: 'titulo' ;
    src: url(../../fontes/KungfooFighterDEMO\ -\ titulo.otf);
}

* {
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

:root {
    --cor1 : ;
    --cor2 : ;
    --cor3 : ;
    --cor4 : ;
    --cor5 : ;

}

body {
    background-color: black;
}

    menu { /*Preciso fazer com que ao passar o mouse emcima de home, aparece a imagem home no background, e quando passar emcima do pratos-principais fique com a imagem do prato-principal e assim por diante.*/
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;

        background-color: black ;
        color: white;

    }
        menu:hover {
            background-color: white;
            color: black;
        }

        h1 {
            display: flex;
            flex-direction: row nowrap;
            justify-content: center;
            align-items: center ;

            height: 150px ;

            font-family: 'titulo' ;
            font-size: 40px;
            font-style: italic ;
            font-weight: lighter;

            color: white;
            background-color: rgba(22, 22, 22, 0.078);
        }
        a {
            padding: 5px ;
            margin: 8px 5px;
            
            font-size: 16px;
            text-decoration: none ;

            color: white;
            border-radius: 5px ;
        }
            a:hover {
                text-decoration: none;
                color: black;
            }

            a.menu-link-home:hover ~ menu {
                background: url();
            }
            a.menu-link-entrada:hover ~ menu {
                background: url();
            }
            a.menu-link-principais:hover ~ menu {
                background: url();
            }
            a.menu-link-sobremesas:hover ~ menu {
                background: url();
            }
        