@charset "UTF-8";


@font-face {
    font-family: 'Fonte1' ;
    src: url(../../fontes/KungfooFighterDEMO\ -\ titulo.otf) format(OpenType);
}
@font-face {
    font-family: 'Fonte2' ;
    src: url(../../fontes/seibi-shiba/OTF/Seibi\ Shiba\ Bold.otf) format(OpenType);
}
@font-face {
    font-family: 'Fonte3' ;
    src: url(../../fontes/seibi-shirogane/OTF/Seibi\ Shirogane.otf) format(OpenType);
}
@font-face {
    font-family: 'Fonte4' ;
    src: url(../../fontes/Seibi_Socho/Seibi_Socho/OTF/Seibi\ Socho.otf) format(OpenType);
}


* {
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


body {

    width: 100vw ;
    height: 100vh ;
    background-color: gray ;
}
    header {
        position: fixed ;
        top: 0px ;
        display: none ; /*fazer ele ficar oculto e aparecer com o JS*/
        width: 100vw ;
        height: 180px ;
    }
        section#Menu { 
            display: block ;
            width: 100% ;
            height: 100% ;
            margin: auto ;
            background-color: white ;
        }
            h1.Titulo_Menu {
                width: 100% ;
                padding: 10px ;
                font-family: 'Fonte4' ;
                font-size: 27px ;
                text-align: center ;
                border: 1px solid black ;
            }
            nav {
                display: flex ;
                flex-flow: column nowrap ;
                justify-content: center ;
                align-items: center ;
                height: 71% ;
                margin: 1px auto 0px  ;
            }
                a.menu-link {
                    display: block ;
                    width: 100% ;
                    padding: 10px ;
                    text-align: center ;
                    text-decoration: none ;
                    border: 1px solid black ;
                    color: white ;
                    background-color: lightgray ;
                }


    main {
        width: 100vw ;
        height: 100vh ;
    }
        section#sessao-1 {
            display: flex ;
            flex-flow: column wrap ;
            justify-content: space-evenly ;
            align-items: center ;
            background-color: red ;
            height: 8300px  ;
        }
            div.conteiner {
                display: block ;
                overflow: hidden ;
                width: 300px ;
                height: 450px ;
                background-color: white ;
                border-radius: 15px ;
            }
                div.header {
                    width: 100% ;
                    height: 10% ;
                    background-color: green ;
                }
                    h1 {
                        text-align: center ;
                        padding: 6px;
                    }

                div.main {
                    width: 100% ;
                    height: 80% ;
                    background-color: purple ;
                }

                div.footer {
                    width: 100% ;
                    height: 10% ;
                    background-color: blue ;
                }


    footer {
        display: none ; /*deixar ele oculto e aparecendo com js*/
        position: fixed ;
        bottom: 0px ;
        width: 100vw ;
        height: 75px ;
        background-color: white ;
    }
        section#Icones {
            display: block ;
            position: fixed ;
            bottom: 0px ;
        }
            a img#Icone_Login_Clicavel {
                display: inline-block ;
                position: fixed ;
                bottom: 0px ;
                left: 0px ;
                width: 60px ;
                margin: 5px ;
            }
            img#Icone_Menu_Clicavel {
                display: inline-block ;
                position: fixed ;
                bottom: 0px ;
                right: 0px ;
                width: 63px ;
                margin: 2px ;
            }